# Indicate which working files should be ignored and not committed to the repository

# Ignore vi editor swap files

*.swp
*.swo

# Ignore all log files

*.log

# Ignore Microsoft Office temporary files

~$*

# Ignore executable files, such as StateMod executables in "bin" folder

*.exe

# Ignore all input files that are dynamically created
# - only save in the repository the source files used to generate model input files

Diversions/58_SteamboatWells_B.stm
Diversions/58_SteamboatWells_H.stm
Diversions/5402068.stm
Diversions/Future_Demands.stm
Diversions/5700512_Hist.stm
Diversions/M&I_Baseline.stm
Diversions/WYD.stm

Diversions/ym2015_dds.dds
Diversions/ym2015_ddh.dds

StateMod/*.rin
StateMod/ym2015.ddh
StateMod/ym2015.ddr
StateMod/ym2045.ddr
StateMod/ym2015.dds
StateMod/ym2015B.ddm
StateMod/ym2015.eom
StateMod/ym2015.ifs
StateMod/ym2015.ifr
StateMod/ym2015.ifa
StateMod/ym2015B.iwr
StateMod/ym2015B.rer
StateMod/ym2015.rer
StateMod/ym2015.res
StateMod/ym2015B.res
StateMod/ym2015.rih
StateMod/ym2015.ris
StateMod/ym2015.rib
StateMod/ym2015B.tar
StateMod/ym2015H.tar
StateMod/ym2015H2.tar

# Ignore all StateMod binary and report output files
# - these files are created by StateMod

*.chk
*.tmp
fort.*
fort.*
*.b43
*.b44
*.b45
*.b47
*.b67
*.b68
*.xbe
*.xbg
*.xbi
*.xbm
*.xca
*.xcb
*.xcd
*.xci
*.xcw
*.xdd
*.xgn
*.xir
*.xop
*.xou
*.xpl
*.xre
*.xrh
*.xri
*.xss
*.xtb
*.xwr
